@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-principal: #830a0a;
    --cor-secundaria: #000;
    --cor-alternativa: white;
    --fonte-principal: 'Space Grotesk', sans-serif;;
    --fonte-alternativa: Helvetica, sans-serif;
}

main {
    width: 100vw;
    background-image: linear-gradient(to Bottom,var(--cor-secundaria) 25%, var(--cor-principal)40%, var(--cor-secundaria) 63%, var(--cor-principal) 80%, var(--cor-secundaria) 95%);
    
}

.intro {
    height: 400px;
    display: flex;
    align-items: center;
    color: var(--cor-alternativa);
    position: relative;
}

.bg-intro {
    height: 400px;
    width: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 900ms;

}

.bg-intro#selected {
    opacity: 1;
}

.intro h1 {
    font-family: var(--fonte-principal);
    font-size: 3rem;
    padding: 16px;
    text-align: center;
    background-color: #00000059;
    box-sizing: border-box;
    margin: auto;
    z-index: 1;
}

.intro > .logo{
    height: 200px;
    z-index: 1;
    margin-left: 150px;
    position: absolute;
}

.logo img {
    width: 200px;
    height: 200px;
}

.agenda {
    width: 960px;
    margin: 36px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--cor-alternativa);
    font-family: var(--fonte-principal);
    gap: 36px;
    
}

h2 {
    width: 900px;
    font-size: 2em;
    text-align: center;
    flex-grow: 2;
    justify-self: center;
    

    
}

h2::after, h2::before {
    content: '';
    width: 120px;
    height: 3px;
    background-color: currentColor;
    display: block;
    margin: 20px auto;
}


.agenda p {
    padding: 10px;
    font-size: 1.25em;
    text-indent: 4rem;
    text-align: justify;
    width: 300px;
    align-self: center;
    
    
    
}
#foto-1 {
    height: 350px;
    justify-items:center ;
    box-shadow: 2px 3px 5px 5px  #0000007a;
}
.btn-principal {
    background-color: var(--cor-principal);
    width: 250px;
    height: 56px;
    border-radius: 16px;
    border-color: var(--cor-principal);
    border-style: none;
    box-shadow: 5px 5px 5px 3px  #0000007e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.25em;
    margin: 24px auto;
    padding: 10px; 
    font-family: var(--fonte-principal); 
    font-weight: bold;
}

.btn-principal:hover {
    box-shadow: 5px 5px 3px 2px  #0000007a;
    cursor: pointer;
}

.btn-principal:active {
    box-shadow: 0px 0px 0px 0px  #0000007a, inset 5px 5px 3px #0000007a;
    transform: translate(5px 5px);
}

.servicos {
    width: 1240px;
    margin: 24px auto auto auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--cor-alternativa);
    font-family: var(--fonte-principal);
    gap: 20px;
    
}

.servicos ul {
    list-style: none;
    column-count: 3;
    text-align: center;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
    padding: 20px;

}

.servicos li {
    width: 350px;
}

.servicos>button {
    align-items: center;
    
}
.servicos a {
    text-decoration: none;
}

.produtos {
    width: 960px;
    margin: 36px auto;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    color: var(--cor-alternativa);
    font-family: var(--fonte-principal);
    gap: 36px;
    
}

.produtos p {
    padding: 10px;
    font-size: 1.25em;
    text-indent: 4rem;
    text-align: justify;
    width: 300px;
    align-self: center;
    
    
    
}

.foto-produtos {
    width: 450px;
    height: 350px;
    align-items: center;
    display: flex;
    color: var(--cor-alternativa);
    position: relative;
    box-shadow: 2px 3px 5px 5px  #0000007a;
}

.foto-2 {
    height: 350px;
    width: 100%;
    object-fit: cover;
    justify-items:center ;
    position: absolute;
    opacity: 0;
    transition: opacity 900ms;
    
}
.foto-2#oculta {
    opacity: 1;
}
.parcerias {
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--cor-alternativa);
    gap: 20px;
}

.parcerias h3 {
    margin-bottom: 24px ;
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
}

.parceiros img {
    height: 160px;
    margin-left: 36px;
}

